* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  // vertical-align: baseline;
}

a {
  text-decoration: none;
}

.search-flight {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #e7efec;
  color: #2f2f2f;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px;
  max-width: 1140px;
  width: 100%;
}

.icon {
  margin-right: 15px;

  svg {
    vertical-align: middle;
  }
}

.search-action {
  width: 67%;
  &__title {
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
  }

  &__bar {
    margin-top: 24px;
    position: relative;
    overflow: hidden;
  }

  i {
    width: 44px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: grey;
  }

  &__input {
    height: 80px;
    font-size: 24px;

    padding-left: 70px;
    padding-right: 220px;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0 90px 0 0;
  }

  &__btn {
    width: 200px;
    font-size: 26px;
    text-transform: uppercase;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-weight: 700;
    background: #1eb7ee;
    color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 0 80px 0 0;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}

.search-result {
  margin-top: 40px;
  width: 100%;
  // background-color: #fff;

  &__nav {
    display: flex;
    height: 59px;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;

    &__departures {
      flex: 1 1 auto;
      text-align: right;
      margin-right: -60px;
      // background-color: #fff;
      background-color: #1eb7ee;
      border-radius: 60px 60px 0 0;
      z-index: 0;
      overflow: hidden;
      opacity: 0.5;

      i {
        font-size: 30px;
        color: #fff;
      }

      a {
        padding-right: 140px;

        // color: #1eb7ee;
        color: #fff;

        // span svg g g {
        //   fill: #1eb7ee;
        // }
        // span svg g g {
        //   fill: #fff;
        // }
      }
      &:hover {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
    }

    &__arrivals {
      flex: 1 1 auto;
      text-align: left;
      margin-left: -60px;
      background-color: #1eb7ee;
      border-radius: 60px 60px 0 0;
      // transition: 0.3s ease-in-out;
      opacity: 0.5;
      z-index: 0;

      span {
        margin-left: 140px;
        // & svg g g {
        //   fill: #fff;
        // }
      }
      i {
        font-size: 30px;
        color: #fff;
      }

      a {
        // padding-left: 140px;
        color: #fff;
      }
      &:hover {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
    }

    .nav_active {
      background-color: #fff;
      z-index: 1;
      opacity: 1;

      // svg g g {
      //   fill: #1eb7ee;
      // }

      i,
      a {
        color: #1eb7ee;
      }
    }
  }

  &__calendar {
    display: flex;
    padding-top: 25px;
    align-items: center;
    background-color: #fff;

    &__date {
      width: 40px;
      color: #1eb7ee;
      position: relative;
      margin-left: 20px;
      text-align: center;

      label {
        font-size: 12px;
        font-weight: 700;
      }

      .calendar-ico {
        width: 40px;
        height: 40px;
        background-color: #1eb7ee;
        color: #fff;
        padding: 4px;

        i {
          font-size: 32px;
        }

        input {
          font-size: 32px;
          width: 40px;
          height: 40px;
          bottom: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }

    &__dates {
      display: flex;
      margin-left: 30px;
      width: 300px;
      height: 62px;
      text-align: center;
      border-bottom: 2px solid lightgrey;

      .date-yesterday,
      .date-today,
      .date-tomorrow {
        flex: 1;
        font-size: 16px;
        color: #b8b9b9;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  &__content {
    padding-top: 35px;
    background-color: #fff;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      color: #95989a;
      font-size: 16px;
      font-weight: 600;
      text-align: left;

      th {
        padding: 12px;
      }

      th:first-child {
        text-align: center;
      }
    }

    tbody {
      color: #212529;
      font-size: 18px;

      tr {
        position: relative;
      }

      tr:nth-child(odd) {
        background-color: #e7efec;
      }

      tr:hover {
        z-index: 1;
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
      }

      td {
        padding: 16px 10px;
      }

      td:first-child {
        text-align: center;

        // span {
        //   color: #63c745;
        //   font-weight: 700;
        //   border: 1px solid #63c745;
        //   border-radius: 50%;
        //   display: inline-block;
        //   width: 40px;
        //   height: 40px;
        //   text-align: center;
        //   line-height: 35px;
        //   font-size: 22px;
        // }

        span.term-a {
          color: #63c745;
          font-weight: 700;
          border: 1px solid #63c745;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 35px;
          font-size: 22px;
        }

        span.term-d {
          color: #1eb7ee;
          font-weight: 700;
          border: 1px solid #1eb7ee;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 35px;
          font-size: 22px;
        }
      }

      td:nth-child(5) {
        display: flex;
        align-items: center;

        div {
          height: 40px;
          // width: 63px;
          // height: 38px;
          text-align: center;
          margin-right: 5px;

          img {
            max-width: 100%;
            max-height: 95%;
            top: 5%;
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }
}
